header {
  border-bottom: 2px solid #c7c7c7;
}

.header-content {
  display: flex;
  width: 70%;
  height: 44px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (max-width: 1024px) {
    width: 85%;
  }
}
